body {
  font: 16px Arial, Helvetica, sans-serif;
  background: #fff; }

h3, p {
  margin: 0 0 10px; }

.product-list, .product-recomendation {
  width: 960px;
  max-width: 100%;
  margin: 0 auto; }

.product-list {
  border-bottom: 1px solid #999;
  margin-bottom: 30px;
  font-size: 0; }

.product-tile {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  vertical-align: top; }
  @media (max-width: 959px) {
    .product-tile {
      width: 50%; } }
  @media (max-width: 768px) {
    .product-tile {
      width: 50%; } }
  @media (max-width: 480px) {
    .product-tile {
      width: 100%; } }

.product-tile h3 {
  font-size: 16px;
  font-weight: normal;
  position: relative; }

.product-tile:hover {
  outline: 1px solid red; }
  .product-tile:hover h3 {
    bottom: 5px; }

.product-description {
  color: #999; }

.product-recomendation .product-tile {
  margin-bottom: 5px; }

.product-recomendation .product-tile {
  background: #eee; }

.label {
  background: #4f4;
  font-size: 12px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  float: right; }
  @media (max-width: 959px) {
    .label {
      width: 100%;
      border-radius: 0;
      height: auto;
      line-height: inherit; } }
  @media (max-width: 768px) {
    .label {
      width: 100%;
      border-radius: 0;
      height: auto;
      line-height: inherit; } }

.cf::after {
  content: '';
  display: block;
  clear: both; }
