@import "mixin";

body {
  font: 16px Arial, Helvetica, sans-serif;
  background: #fff;
}
h3, p {
  margin: 0 0 10px;
}
%center-block{
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}
.product-list {
  border-bottom: 1px solid #999;
  @extend %center-block;
  margin-bottom: 30px;
  font-size: 0;
}
.product-tile {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  @include breakpoint(medium){width: 50%;}
  @include breakpoint(small){width: 50%;}
  @include breakpoint(extrasmall){width: 100%;}
  padding: 10px;
  font-size: 16px;
  vertical-align: top;
}

.product-tile h3 {
  font-size: 16px;
  font-weight: normal;
  position: relative;
}

.product-tile:hover {
  outline: 1px solid red;

  h3{
    bottom: 5px;
  }
}

.product-description {
  color: #999;
}
.product-recomendation {
  @extend %center-block;

  .product-tile{
    margin-bottom: 5px;
  }
}
.product-recomendation .product-tile {
  background: #eee;
}

.label {
  background: #4f4;
  font-size: 12px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  float: right;

  @include breakpoint(medium){
    width: 100%;
    border-radius:0;
    height: auto;
    line-height: inherit;
  }

}

.cf::after{
  content: '';
  display: block;
  clear: both;
}

.btn{
  width: 76px;
  height: 20px;
  display: block;
  color: #686868;
  background: #4f4;
  border-radius: 3px;
  margin: 0 auto;
}

.to-cart{
  opacity: 0.4;
}
